.job-header {
  display: flex;
  justify-content: space-between;
  background-color: purple;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  opacity: 0.75;
}

.job-card {
  margin: 20px 8px;
  -webkit-box-shadow: 3px 19px 52px -5px rgba(82, 52, 82, 0.35);
  -moz-box-shadow: 3px 19px 52px -5px rgba(82, 52, 82, 0.35);
  box-shadow: 3px 19px 52px -5px rgba(82, 52, 82, 0.35);
  padding-bottom: 15px;
  border-radius: 15px;
  font-family: 'Montserrat', sans-serif;
}

.edit-link {
  text-decoration: none;
  color: white;
  display: block;

  padding: 6px 15px 6px 0px;
  width: 100px;
  text-align: right;
  align-self: flex-end;
}

.job-title {
  padding: 6px 0 6px 15px;
  font-family: 'Montserrat', sans-serif;
}

.comments {
  padding: 10px 20px 15px 20px;
  list-style: none;
}

.comments > li {
  padding-bottom: 12px;
}

.fas {
  padding-left: 20px;
  cursor: pointer;
}

.job-description {
  display: flex;
  flex-direction: column;
}

.job-details {
  padding: 10px;

  font-weight: bold;
}

.job-location-pay {
  padding: 5px;
}

.schedule-delete-buttons {
  display: flex;
  justify-content: space-around;
}
.comment-button {
  padding: 5px;
  margin: 8px;
}
