.link {
  color: purple;
  text-decoration: none;
}

.header {
  background: #f8f9fc;
  background: linear-gradient(
    45deg,
    #f8f9fc 0%,
    #f0f1f8 67%,
    #f0f1f8 67%,
    #f0f1f8 100%
  );
  padding: 15px;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  width: 110vw;
}

.logout-link {
  color: white;
  font-weight: bold;
  border-radius: 30px;
  padding: 7px 32px;
  background-color: purple;
}

@media (max-width: 480px) {
  .logout-link {
    padding: 5px 10px;
    width: 20vw;
    font-weight: normal;
    text-align: center;
  }
}

@media (max-width: 415px) {
  .logout-link {
    padding: 0;
    width: 20vw;
    font-weight: normal;
  }
  .header {
    font-size: 13px;
  }
}
@media (max-width: 380px) {
  .header {
    font-size: 10px;
    display: flex;
    width: 100vmax;
  }
  .logout-link {
    width: 20%;
    padding: 0;
    text-align: center;
    font-weight: normal;
    border-radius: 10px;
  }
}
