.login-form {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  margin: 20px 8px;
  -webkit-box-shadow: 3px 19px 52px -5px rgba(82, 52, 82, 0.35);
  -moz-box-shadow: 3px 19px 52px -5px rgba(82, 52, 82, 0.35);
  box-shadow: 3px 19px 52px -5px rgba(82, 52, 82, 0.35);
  border-radius: 15px;
  width: 20%;
  align-items: center;
  padding: 23px 0;
  border-top-style: outset;
  border-top-color: #d3c9d8;

  margin: 5px auto;
}

label {
  margin-top: 4px;
}

.login-button {
  margin: 6px;
}

.required {
  color: red;
  font-weight: bold;
  text-align: center;
}

@media (max-width: 1100px) {
  .login-form {
    width: 30%;
  }
}
@media (max-width: 600px) {
  .login-form {
    width: 50%;
  }
}
@media (max-width: 350px) {
  .login-form {
    width: 70%;
  }
}

@media (max-width: 475px) {
  .login-form {
    width: 60%;
  }
}
