.link:hover {
  opacity: 0.8;
}
.pre-login-header {
  background: #f8f9fc;
  background: linear-gradient(
    45deg,
    #f8f9fc 0%,
    #f0f1f8 67%,
    #f0f1f8 67%,
    #f0f1f8 100%
  );
  padding: 15px;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  position: relative;
  width: 100%;
}

.login-link,
.signup-link {
  color: white;
  font-weight: bold;
  border-radius: 30px;
  margin: 0 8px;
  padding: 7px 32px;
  background-color: purple;
}

h1 {
  font-size: 40px;
  position: absolute;
  font-family: 'Permanent Marker';
  color: #562855;
  left: 34px;
}

@media (max-width: 505px) {
  .login-link,
  .signup-link {
    padding: 5px 15px;

    font-weight: normal;
  }
  .pre-login-header {
    margin-top: 5px;
    display: flex;
    width: 100vw;
  }
  .pre-login-header h1 {
    font-size: 30px;
  }
}

@media (max-width: 400px) {
  .pre-login-header {
    margin-top: 5px;
    display: flex;
    width: 100vw;
    flex-direction: row;
  }
  .pre-login-header h1 {
    font-size: 25px;
  }

  .login-link,
  .signup-link {
    padding: 2px 5px;
    font-size: 12px;
  }
}
