* {
  box-sizing: border-box;
}

.job-card {
  display: flex;
  margin: 1em;
  border-radius: 10px/30px;
  height: 25vh;
  width: 80vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}

.job-desc {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0;
  width: 30%;
}
.job-title {
  color: purple;
  padding: 0.25em 0 0 1em;
  margin: 0;
}
.job-desc .job-details {
  width: 15rem;
  padding: 20px 0px 5px 15px;
  font-weight: bold;
  color: purple;
}

.location-pay p {
  padding-left: 3rem;
  margin: 0;
}

.job-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  margin-right: 10px;
}

.schedule-button {
  border: 1px solid #bbb;
  font: bold 13px arial, helvetica, sans-serif;
  color: #555;
  background-color: #ddd;
}

.checkbox {
  margin: 10px;
}

.job-notes {
  margin-bottom: 15px;
  resize: none;
  width: 100%;
}

@media (max-width: 500px) {
  .job-card {
    width: 100%;
    height: auto;
  }
  .job-desc {
    width: 100%;
  }
  .job-form {
    margin: 10px auto;
  }
}
