.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  margin: 15px;
  border-radius: 0.2em;
  box-shadow: inset 0 0 5px #000000;
}

.job-desc {
  margin-left: 10px;
  grid-column: 1/2;
}

.job-form {
  grid-column: 4;
  grid-row-end: 1;
  margin: 10px;
}

.job-notes {
  width: 27rem;
  height: 10rem;
}

.schedule-button {
  padding: 6px 12px;
  margin: 3px;
  font-weight: bold;
}
