* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

button {
  padding: 5px;
  background-color: purple;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  border-radius: 25px;
  opacity: 0.9;
  border-style: none;
  cursor: pointer;
}

button:hover {
  opacity: 0.7;
}

button:focus {
  outline: thin dotted;
}

input {
  padding: 5px;
  margin-left: 6px;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  transition: border 0.5s linear 0s, box-shadow 0.2s linear 0s;
  background-color: white !important;
}

input:focus {
  border-color: purple;
  box-shadow: 0 1px 1px purple inset, 0 0 8px purple;
  outline: 0 none;
}

input[type='text'] {
  font-family: 'Montserrat', sans-serif;
}

.app-description {
  line-height: 150%;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 50%;
  margin: 35px auto;
  position: relative;
}

.app-description h3 {
  font-family: 'Permanent Marker';
  color: #562855;
  margin-bottom: 12px;
}

/* .app-description p {
  position: absolute;
  bot
} */

.validate {
  color: red;
  font-weight: bold;
  text-align: center;
}

.loading {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

@media (max-width: 1000) {
  .app-description {
    widows: 30%;
  }
}
